@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //border: 1px solid black;
    
}
body {
    background-color: #ffffff;
}
// .App {
//     display: flex;
// }
@media only scrren and (min-width: 960px) {
    .App {
        display: flex;
    }
}